* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --clr-blak: #161616;
    --clr-dim: #898989;
    --clr-wit: #ffffff;
    --clr-grn: #3DCFD3;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--clr-blak);
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    background-color: #16161688;
    backdrop-filter: blur(7px);
}

.logo {
    font-size: 24px;
    letter-spacing: .3em;
    font-weight: 600;
    color: var(--clr-wit);
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo span {
    color: var(--clr-grn);
}

.links a {
    color: var(--clr-wit);
    text-decoration: none;
    margin: 0px 2em;
    position: relative;
    width: max-content;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.links a::before {
    content: "";
    position: absolute;
    left: -1;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--clr-grn);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform ease 400ms;
}

.links a:hover::before {
    transform: scaleX(1);
}

.right button {
    cursor: pointer;
    background-color: var(--clr-grn);
    padding: .5em 2em;
    border-radius: .3em;
    border: 1px solid var(--clr-grn);
    transition: ease 400ms;
}

.right button:hover {
    background: none;
    color: var(--clr-wit);
    border: 1px solid var(--clr-grn);
}

.home_flex {
    display: flex;
    justify-content: center;
}

.home {
    width: 90%;
    max-width: 800px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.home .name h1 {
    color: var(--clr-grn);
    line-height: 1.4;
    font-size: 2.6em;
}

.home .name p {
    color: var(--clr-wit);
    font-size: 1.7em;
}

.home .name_desc {
    width: 48%;
    font-size: .9em;
    line-height: 1.4;
    color: var(--clr-wit);
    animation-duration: 3s
}

.icon_a {
    text-decoration: none;
    font-size: 36px;
    color: var(--clr-wit);
    padding: .5em;
}

.image_color {
    background: rgb(22, 22, 22);
    background: linear-gradient(0deg, rgba(22, 22, 22, 1) 10%, rgba(61, 207, 211, 1) 100%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.image {
    background-image: url(./images/pic.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border-radius: 50%;
    width: max-content;
    width: 200px;
    height: 200px;
}

.image_color1 {
    width: 300px;
    height: 300px;
}

.image1 {
    background-image: url(./images/pic2.png);
    width: 300px;
    height: 300px;
}

.aboutSection {
    display: flex;
    justify-content: center;
    margin: 10rem 0;
}

.about {
    width: 80%;
    max-width: 1250px;
    display: flex;
    justify-content: space-around;
    column-gap: 36px;
    flex-wrap: wrap;
    color: var(--clr-wit);
}

.left_about {
    padding-top: 1.2em;
}

.about p {
    line-height: 3rem;
}

.left_about {
    width: max-content;
}

.right_about {
    width: 50%;
}

.about_sec {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about_sec h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--clr-grn);
}

.about_bottom {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    white-space: nowrap;
}

.projectSection {
    display: flex;
    justify-content: center;
}

.projects {
    width: 95%;
    max-width: 1300px;
}

.projects h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5em;
    color: var(--clr-grn);
    line-height: 2em;
}

.card_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 4rem;
}

.card {
    color: var(--clr-wit);
    background-size: cover;
    background-position: center;
    max-width: 225px;
    padding: 120px 0 0;
    border-radius: 5px;
    overflow: hidden;
    transition: transform ease 500ms;
    height: 281px;
}

.card_1 {
    background-image: url(./images/links.png);
}

.card_2 {
    background-image: url(./images/table.png);
}

.card_3 {
    background-image: url(./images/review.png);
}

.card_4 {
    background-image: url(./images/smit.png);
}

.card_5 {
    background-image: url(./images/sign.png);
}

.card_6 {
    background-image: url(./images/apple.png);
}

.card_7 {
    background-image: url(./images/saylani.png);
}

.card_8 {
    background-image: url(./images/snipping.png);
}

.card_9 {
    background-image: url(./images/upwork.PNG);
}

.card_10 {
    background-image: url(./images/olx.png);
}

.card_11 {
    background-image: url(./images/planets.PNG);
    height: 281px;
}

.card_12 {
    background-image: url(./images/Binance.png);
}

.card_13 {
    background-image: url(./images/calculator.png);
    height: 281px;
}

.card:hover {
    transform: scale(1.1);
}

.card_content_15 {
    --padding: 15px;
    background-image: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / .3) 20%, hsl(0 0% 0% / 1));
    padding: var(--padding);
    transform: translateY(78%);
    transition: transform ease 500ms;
}

.card_content:not(.card_content_15) {
    --padding: 15px;
    background-image: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / .3) 20%, hsl(0 0% 0% / 1));
    padding: var(--padding);
    transform: translateY(68%);
    transition: transform ease 500ms;
}

.card:hover .card_content_15 {
    transform: translateY(15%);
    transition-delay: 350ms;
}

.card:hover .card_content:not(.card_content_15),
.card:focus-within {
    transform: translateY(0);
    transition-delay: 350ms;
}

.card_content>*:not(.card_title) {
    opacity: 0;
    transition: opacity 0.3s linear;
}

.card:hover .card_content>*:not(.card_title),
.card:focus-within .card_content>*:not(.card_title) {
    transition-delay: 500ms;
    opacity: 1;
}

.card_body {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 7px;
}

.card_title {
    position: relative;
    width: max-content;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}

.card_title::after {
    content: "";
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: 0;
    height: 3px;
    width: calc(100% + var(--padding));
    background-color: var(--clr-grn);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform ease 350ms;
}

.card:hover .card_title::after {
    transform: scaleX(1);
}

.button {
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: var(--clr-blak);
    background-color: var(--clr-grn);
    padding: 5px 25px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.button:hover,
.button:active {
    background-color: var(--clr-wit);
}

.contactSection {
    display: flex;
    justify-content: center;
}

.contact {
    margin: 10rem 0;
    width: 95%;
    max-width: 1250px;
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;
    row-gap: 4rem;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.left_contact {
    width: 90%;
    max-width: 40em;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left_contact .left_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_contact h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 2.5em;
    color: var(--clr-grn);
}

.Flin {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

input {
    outline: none;
    margin: .8em 0;
    border: none;
    border-radius: 4px;
}

.line1 {
    padding: .7em .5em;
    flex: 1;
}

.line2 {
    padding: .7em .5em;
    width: 90%;
}

.contact textarea {
    resize: none;
    outline: none;
    padding: .6em;
    width: 90%;
    border-radius: 4px;
    margin: .8em 0;
}

.right_contact {
    min-width: max-content;
    height: max-content;
}

.message {
    width: 45%;
    max-width: 22em;
    padding-top: .8em;
    padding-bottom: .74em;
    border-radius: 4px;
    background-color: var(--clr-grn);
    margin: 3em;
    cursor: pointer;
    border: 1px solid var(--clr-grn);
    transition: ease 400ms;
}

.message:hover {
    background: none;
    color: var(--clr-wit);
    border: 1px solid var(--clr-grn);
}

.right_contact .image2 {
    background-image: url(./images/head.png);
    width: 100%;
    height: 100%;

}

footer {
    margin-top: 5em;
    border-top: 1px solid #ffffff8e;
    padding: 2px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot_center,
.foot_right {
    color: var(--clr-wit);
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    border: none;
    outline: none;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.mobile_nav {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.mobile_nav_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #89898917;
    border-radius: .5rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    width: 80%;
    max-width: 450px;
    padding: 1.25rem 4rem;
}

.mobile_nav_container a {
    padding: .25rem;
    color: var(--clr-wit);
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


.mobile_nav_container a::before {
    content: "";
    position: absolute;
    left: -1;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--clr-grn);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform ease 250ms;
}

.mobile_nav_container a:active::before {
    transform: scaleX(1);
}

#hide{
    pointer-events: none;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

#show{
    pointer-events: auto;
}

@media only screen and (min-width:876px) {
    .menu {
        display: none;
    }
}

@media only screen and (max-width:876px) {
    .center {
        display: none;
    }
    nav{
        padding: 15px 50px;
    }
    footer {
        display: none;
    }
}
@media only screen and (max-width:840px){
    .left_about{
        display: none;
    }
}
@media only screen and (max-width:400px){
    nav{
        padding: 15px 25px;
    }
    .about_poin{
        display: none;
    }
    .about_bottom {
        flex-wrap: wrap;
    }
}